/* GLOBAL */
html {
    background-color: grey;
}

/* TIMELINE TIME */
.timelineTime {
    width: 100px;
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    margin: 10px;
    text-align: center;
}

/* TIMELINE ICON */
.timelineIcon {
    padding: 10px;
    background-color: grey;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 100%;
}

/* TIMELINE ITEM */
.timelineItem {
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    margin: 10px;
    overflow: hidden;
}

.timelineItem h1 {
    
}

.timelineItem h2 {
    color: grey;
}

.timelineItem p {

}

.timelineItem .evalution .p {
    color: grey;
}

.timelineItem hr {
    width: 150%;
    margin-left: -25%;
}

.fl { float: left; }
.fr { float: right; }